/**
 * Dashboard Stylesheet
 */

/**
 * Import required files
 */
@import 'settings/index'
@import 'dashboard/settings'
@import 'mixins/utilities'
@import 'mixins/fonts'
@import 'mixins/typography'
@import 'mixins/sizes'
@import 'mixins/borders'
@import 'components/typography'

:root
  font-size 14px
  font-family $font_primary

body
  background-color $bg_color
  color $font_color_darker
  font-weight $font_weight
  font-size $font_size
  font-family $font_primary

#wpadminbar
  background-color $color_primary

#adminmenuback
#adminmenuwrap
#adminmenu
  background-color $color_secondary

#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu
  background-color $color_secondary_lighter

#adminmenu li.current a.menu-top
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head
.folded #adminmenu li.current.menu-top
#adminmenu a:hover
#adminmenu li.menu-top:hover
#adminmenu li.opensub > a.menu-top
#adminmenu li > a.menu-top:focus
  background-color $color_primary

#wpadminbar
  #wp-admin-bar-wp-logo
    > .ab-item
      .ab-icon
        &:before
          content '@'
          font-family 'Spiral Icons'

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item
  background-color $color_primary_dark
  color $grey_lightest

#wpadminbar .menupop .ab-sub-wrapper
  background-color $color_primary_dark

#wpadminbar .quicklinks .menupop ul li a:hover
#wpadminbar .quicklinks .menupop ul li a:focus
#wpadminbar .quicklinks .menupop ul li a:hover strong
#wpadminbar .quicklinks .menupop ul li a:focus strong
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a
#wpadminbar .quicklinks .menupop.hover ul li a:hover
#wpadminbar .quicklinks .menupop.hover ul li a:focus
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus
#wpadminbar li:hover .ab-icon:before
#wpadminbar li:hover .ab-item:before
#wpadminbar li a:focus .ab-icon:before
#wpadminbar li .ab-item:focus:before
#wpadminbar li .ab-item:focus .ab-icon:before
#wpadminbar li.hover .ab-icon:before
#wpadminbar li.hover .ab-item:before
#wpadminbar li:hover #adminbarsearch:before
#wpadminbar li #adminbarsearch.adminbar-focused:before
  color $grey_lightest

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label
  color $grey_lightest

a
  color $color_secondary_lightest

  &:focus
  &:hover
  &:active
    color $color_primary

#adminmenu a
#adminmenu a:hover
#adminmenu li.menu-top:hover
#adminmenu li.opensub > a.menu-top
#adminmenu li > a.menu-top:focus
  color $grey_lighter

#adminmenu .wp-submenu a:focus
#adminmenu .wp-submenu a:hover
#adminmenu .wp-has-current-submenu .wp-submenu a:focus
#adminmenu .wp-has-current-submenu .wp-submenu a:hover
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover
  color $color_primary

.fixed
  .column-featured_image
    width 5em

    img
      size 5em

  .column-icl_translations
    width 2em

  .column-author
    width 4em

#titlediv
  #title
    padding $space_sm $space_xsm
    height auto
    background-color $white
    line-height $line_height

input[type='text']
input[type='password']
input[type='color']
input[type='date']
input[type='datetime']
input[type='datetime-local']
input[type='email']
input[type='month']
input[type='number']
input[type='search']
input[type='tel']
input[type='text']
input[type='time']
input[type='url']
input[type='week']
input[type='checkbox']
input[type='radio']
select
textarea
  borders $grey_lighter
  box-shadow none
  color $grey_dark

  &:focus
    borders $grey_light
    box-shadow none
    color $grey_darker

.post-php .decon-character-counter
.post-new-php .decon-character-counter
  border 0
  background-color $bg_color
  box-shadow none

.post-php .decon-character-counter
.post-new-php .decon-character-counter
.profile-php .decon-character-counter
  padding $space_xsm

#post-status-info
  border 0
  background-color $bg_color
  box-shadow none

#edit-slug-box
  margin-top 0
  padding 0 $space_xsm

#wp-word-count
  padding 0 $space_xsm

.wp-editor-expand #wp-content-editor-tools
  border 0

#wp-content-editor-tools
  background-color $bg_color

table.widefat
.wp-editor-container
.stuffbox
p.popular-tags
.widgets-holder-wrap
.popular-tags
.feature-filter
.imgedit-group
.comment-ays
  background-color $white

.widget-top, .menu-item-handle, .widget-inside, #menu-settings-column .accordion-container, #menu-management .menu-edit, .manage-menus, table.widefat, .stuffbox, p.popular-tags, .widgets-holder-wrap, .wp-editor-container, .popular-tags, .feature-filter, .imgedit-group, .comment-ays
  borders $bg_color

body.wp-core-ui
  .wrap .add-new-h2:hover
  .wrap .page-title-action:hover
  .tablenav .tablenav-pages a:hover
  .tablenav .tablenav-pages a:focus
    background-color $white
    color $color_primary

  div.mce-panel
    background-color $bg_color

  .tmce-active .switch-tmce
  .html-active .switch-html
    borders $grey_lighter

  .wp-switch-editor
    borders transparent

  div.mce-toolbar-grp > div
    padding $space_xsm 0

  .mce-panel.mce-menu
    borders $grey_lighter
    background-color $white

  .mce-container.mce-menu .mce-menu-item:hover
  .mce-container.mce-menu .mce-menu-item.mce-selected
  .mce-container.mce-menu .mce-menu-item:focus
  .mce-container.mce-menu .mce-menu-item-normal.mce-active
  .mce-container.mce-menu .mce-menu-item-preview.mce-active
    background-color $color_primary

  .mce-toolbar .mce-btn-group .mce-btn.mce-listbox
    borders $grey_lighter
    background-color $white
    box-shadow none

  .mce-toolbar .mce-btn-group .mce-btn:hover
  .mce-toolbar .mce-btn-group .mce-btn:focus
  .qt-dfw:hover, .qt-dfw:focus
    borders $grey_lighter
    background-color $white
    box-shadow none
    color $grey_darkest

  .mce-widget.mce-btn.mce-menubtn
    position static
    box-sizing border-box
    borders $grey_lighter
    padding 0 $space_xsm
    height 26px
    background-color $white
    vertical-align middle

    button
      position relative
      padding 0
      width auto
      height 100%
      vertical-align middle
      font-size 1rem
      line-height normal

    .mce-txt
      display inline
      box-sizing border-box
      padding-right $space_sm
      height 24px
      vertical-align middle

    .mce-caret
      borders top 6px $grey right bottom left transparent 4px
      position absolute
      top 9px
      right 0
      display inline
      box-sizing border-box
      margin 0
      vertical-align top

  div.mce-path
    padding $space_xsm

  div.mce-toolbar-grp
    borders bottom $bg_color

  div.mce-statusbar
    borders top $bg_color

  .button
  .button-secondary
    uppercase()

  .button-primary
    border 0
    background-color $color_primary
    box-shadow none
    text-shadow none

    &:hover
    &:focus
      border 0
      background-color $color_primary_light
      box-shadow none

    &.button-hero
      box-shadow none !important

  #adminmenu li:hover div.wp-menu-image:before
  #adminmenu li a:focus div.wp-menu-image:before
  #adminmenu li.opensub div.wp-menu-image:before
    color $color_secondary
