/**
 * Dashboard Editor Stylesheet
 */

// Import necessary files from the theme
@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Rambla:400,400i,700,700i|Fira+Mono:400,700')
@import 'settings/index'
@import 'mixins/index'
@import 'layouts/reboot'
@import 'components/typography'
@import 'components/media'
@import 'components/helpers'

/*
 * Override the styles
 */
html
  padding $space

body
  margin 0 auto
  padding 0
  max-width 48rem
  background-color $white
  font-size $font_size
  font-family $font_primary
  line-height $line_height
  text-rendering optimizeLegibility
  color $font_color

  text-size-adjust 100%

a
  link $link_color

.wp-caption
  dl
  dt
    width 100%

  dd
    padding $space_xsm
    background-color $border_color

  img
    borders()
    size 100% auto

.gallery
  grid row wrap

  dl.gallery-item
    margin-right 4%
    margin-bottom $space_sm
    width 22%

    &:nth-of-type(4n + 4)
      margin-right 0

  dt
    width 100%

  figcaption
    hide()

  img
    width 100%
    height auto

  br
    hide()

.wpview
  width 100%

.twitter-tweet
  margin 0 auto !important
