/**
 * Dashboard Screen Login
 */

// Import necessary files from the theme
@import 'settings/index'
@import 'mixins/index'


// Override the styles
:root
  font-size 16px

body
  grid column
  background-color $bg_color
  font-size $font_size

#login
  margin auto
  padding 0
  min-width $body_width_min

  #loginform
    p
      margin-bottom $space_sm

      &.forgetmenot
        margin-bottom 0

        label
          line-height $btn_height

      &.submit
        margin-bottom 0

        input#wp-submit
          button primary

.login
  h1
    size $logo_width $logo_height
    margin 0 auto $space

    a
      block()
      size 100%
      background-image url($img_path + '../images/logo.svg')
      background-size 100%

  form
    margin 0 auto $space
    padding 0
    background-color transparent
    box-shadow none

    input[type='text']
    input[type='password']
      input $input_height
      margin $space_xsm 0 0
      padding $space_sm
      border 0
      font-size 1rem

    input[type='checkbox']
      borders()
      size 1em
      margin-top -4px
      margin-right $space_xsm
      background-color darken($input_bg, 2)
      line-height 1em

      &:focus
      &:active
        box-shadow none

  label
    block()
    smaller()
    uppercase()
    color $font_color_darkest

    input
      group()

  #login_error
  .message
    alert error
    border 0

  .message
    alert warning
    border 0

  .button-primary
    button primary

  #nav
  #backtoblog
    align right
    padding 0

    a
      link $link_color

  #nav
    margin-top 0

  #backtoblog
    margin $space_xsm 0 0 auto

.wp-core-ui
  .button
    &.button-large
      padding 0
      height auto
      line-height 4

input[type='checkbox']
  &:checked
    &:before
      size 100%
      margin -1px 0 1px
      color $color_primary
      font-size 1em
