/**
 * Jetpack Contact Form Overrides
 */
{$entry_class}
  &-body
    p ~ div
      h3
        margin-top $space_lg

  .contact-form
    margin-top $space_lg
    margin-bottom 0

    label
      margin-bottom $space_xsm
      padding 0 $border_width

      span
        color $font_color_darkest

    input[type='text']
    input[type='email']
    textarea
      margin-bottom 0
      max-width 100%
      width 100%

    > div
      margin-bottom $space_lg

    &-submission
      borders $border_width_lg
      margin 0
      padding $space

      &:before
      &:after
        hide()

      p
        &:not(:last-of-type)
          margin-bottom $space_xsm

      br
        hide()
