/**
 * Light Gallery Overrides
 */
.lg
  &-backdrop
    background-color $color_secondary

  &-sub-html
    small()
    background-color rgba($color_secondary, .8)
    color $font_color_darker

  &-toolbar
    background-color rgba($color_secondary, .8)
    color $font_color_darker

  &-outer
    .lg-img-wrap
      padding 0

  &-icon
    font-family 'Spiral Icons'

    .lg-toolbar &
      small()
      transition()
      link $font_color_darker
      size $icon_size
      margin 12px 5px 12px 0
      padding 0
      background-position center
      background-size $icon_size
      background-repeat no-repeat
      line-height $icon_size

    &#lg
      &-share
        &:after
          content '\0073'

      &-zoom-in
        &:after
          content '\002b'

      &-zoom-out
        &:after
          content '\002d'

      &-actual-size
        &:after
          content '\007a'

      &-actual-size
        small()

    &.lg
      &-fullscreen
        &:after
          content '\0066'

      &-close
        margin-right 20px

        &:after
          content '\0078'

      &-prev
        &:after
          content '\003c'

      &-next
        &:before
          content '\003e'

#lg
  &-counter
    color $font_color_darkest
