/**
 * Swiper
 */
{$container_class}
  .swiper
    transition()
    margin-bottom $space_lg
    width 100%
    background-color $bg_color_dark

    +above($body_width_max)
      borders bottom
      padding-top $space
      padding-bottom @padding-top

    a
      block()

    figure
      margin-right (-($space_xlg))
      margin-bottom 0
      margin-left @margin-right

      +above($break_content_xsm)
        margin-right (-($space_lg))
        margin-left @margin-right

      +above($break_content_md)
        margin-right 0
        margin-left @margin-right

      img
        border 0

    figcaption
      borders top
      grid middle
      size 100% $featured_caption_height_sm

      overflow hidden
      padding 0 $space_sm
      background-color $bg_color_light
      color $font_color_light
      vertical-align middle
      word-break keep-all
      font-size $font_size
      font-family $font_secondary
      line-height $line_height_reset

      +above($break_content_sm)
        padding-right $space
        padding-left @padding-right

      +above($break_content_md)
        padding-right $space + ($featured_pagination_bullet * 5) + ($space_xsm * 4) + $space

      +above($break_content_lg)
        absolute()
        big()
        right 0
        bottom 0
        left 0
        background-color rgba($bg_color, .85)

    &-container
      borders bottom
      z-index 1020

      +above($body_width_max)
        borders()
        max-width $container_width_max

    &-wrapper
      border_box()

    &-pagination
      &-bullet
        circle()
        size $featured_pagination_bullet
        background-color $grey_lightest
        opacity .375

        &-active
          background-color $color_primary
          opacity 1

    &-container-horizontal
      > .swiper-pagination-bullets
        align center
        top 0
        right 0
        left 0
        margin 0

        +above($break_content_md)
          align right
          top auto
          right $space
          bottom 0
          left auto
          line-height $featured_caption_height_sm

        .swiper-pagination-bullet
          margin-right 0
          margin-left $space_xsm

          &:first-of-type
            margin-left 0

    &-button
      &-prev
      &-next
        circle()
        size $icon_size * 2
        margin-top (-($icon_size + ($featured_caption_height / 2)))
        background-color transparent
        background-image none

        svg
          transition()
          size 100%
          fill $color_primary
          opacity .5

          &:focus
          &:hover
            opacity .825

      &-prev
        left 0

      &-next
        right 0
