/**
 * Buttons
 */
button()
  inline_block()
  rounded()
  transition()
  uppercase()
  align center
  shadow none

  overflow visible
  margin 0
  width auto
  vertical-align middle
  text-decoration none
  text-shadow none
  white-space nowrap
  letter-spacing $btn_spacing
  font-weight $btn_font_weight
  font-family $btn_font
  cursor pointer

  $padding = $space
  $height  = $btn_height
  $border  = $btn_border
  $bg      = $btn_bg
  $color   = $btn_color

  for argument in arguments
    if argument is tiny
      $padding = $space_xsm
      $height  = $btn_height_xsm

    if argument is small
      $padding = $space_xsm
      $height  = $btn_height_sm

    if argument is large
      $padding = $space
      $height  = $btn_height_lg

    if argument is flat
      $border  = $border_width_lg
      $bg      = transparent
      $color   = $btn_flat_color
      borders $border $border_color

    if argument is primary
      $bg      = $btn_primary_bg
      $color   = $btn_primary_color

  if $border is 0
    border 0

  padding 0 $padding
  height $height
  background-color $bg
  color $color
  font-size @height * .375
  line-height $height - ($border * 2)
  disabled()

  &:focus
  &:hover
  &:active
    outline 0

    if $border is 0
      border 0
    else
      if @background-color is 'transparent'

        if dark($bg_color) is true
          borders $border lighten($border_color, 5)
        else
          borders $border darken($border_color, 5)

      else

        if dark(@background-color) is true
          borders $border lighten($border_color, 5)
        else
          borders $border darken($border_color, 5)

  &:focus
  &:hover
    if @background-color is not 'transparent'

      if dark(@background-color) is true
        background-color lighten(@background-color, 10)
      else
        background-color darken(@background-color, 10)

    else
      background-color transparent

    color @color

  &:active
    if @background-color is not 'transparent'

      if dark(@background-color) is true
        background-color lighten(@background-color, 10)
      else
        background-color darken(@background-color, 10)

    else
      background-color transparent

    click_down()

  disabled()

/** Helper Classes */
button
html input[type='button']
input[type='reset']
.button
  button()
