/**
 * Headings
 */
_heading($heading)
  overflow-wrap break-word
  margin-bottom $space_lg
  color $h + $heading + _color
  word-wrap break-word
  word-break keep-all
  word-break break-word
  hyphens manual
  font-weight $h + $heading + _weight
  font-size $h + $heading + _size
  font-family $h + $heading + _font
  line-height $line_height_sm

  a
    link @color

  span
    if dark(@color) is true
      color lighten(@color, 25)
    else
      color darken(@color, 25)

    &:before
      regular()
      relative()
      small()
      top (-($space_xsm))
      content ': '

h1()
  _heading 1

h2()
  _heading 2

h3()
  _heading 3

h4()
  _heading 4

h5()
  _heading 5
  letter-spacing 2px

h6()
  _heading 6
  uppercase()
  letter-spacing 2px
