/**
 * Input Fields
 */
input($height = $input_height)
  disabled()
  regular()
  transition()
  borders()
  fluid_type $font_size_min $font_size_max
  shadow none
  size 100% $height
  margin 0
  padding $space_xsm $space_sm
  background-color $input_bg
  color $font_color
  font-family $font_primary

  line-height $height - ($space_xsm * 2) - ($border_width * 2)

  &:focus
  &:active
    outline 0
    background-color darken(@background-color, 5)
    box-shadow none
    color @color

  placeholder()
