/**
 * Lists
 */
list($style = none)
  if $style
    if $style is none
      margin-bottom $space_lg
      padding-left 0
      list-style none

    else if $style is inline
      grid()
      group()
      margin-bottom 0
      padding-left 0
      list-style none

      li
        margin-right $space_sm

        &:last-of-type
          margin-right 0

    else
      margin-bottom $space_lg
      padding-left $space_sm
      list-style-position outside
      list-style-type $style
