/**
 * Sizes
 */
size()
  $sizes = false
  $range = false

  for argument in arguments

    if argument is a 'unit' or argument is auto
      if $sizes
        push($sizes, argument)
      else
        $sizes = argument

    else if argument is min
      $range = min

    else if argument is max
      $range = max

  if $sizes
    if $range is min
      min-width $sizes[0]
    else if $range is max
      max-width $sizes[0]
    else
      width $sizes[0]

    if length($sizes) == 1
      if $range is min
        min-height $sizes[0]
      else if $range is max
        max-height $sizes[0]
      else
        height $sizes[0]
    else
      if $range is min
        min-height $sizes[1]
      else if $range is max
        max-height $sizes[1]
      else
        height $sizes[1]
