/**
 * Archive & Index Pages
 */
{$entry_class}
  &-header
    .home &
      borders top
      padding-top $space_xsm
      padding-bottom @padding-top

      h1
        h6()
        margin-bottom 0

  &-list
    grid wrap
    margin-right (-($space_sm / 2))
    margin-left @margin-right

    +above($break_content_sm)
      margin-right (-($space / 2))
      margin-left @margin-right
