/**
 * Entries
 */
{$entry_class}
  transition()
  fluid_type $font_size_min $font_size_max
  flex 1

  &-single
    > *
      &:last-child
        margin-bottom 0

  &-header
    borders bottom
    margin-bottom $space_lg
    padding-bottom $space_lg
    line-height $line_height_reset

    .single &
      margin-bottom 0

    h1
      fluid_type $entry_title_min $entry_title_max
      margin-bottom 0

  &-body
    margin-bottom $space_lg

    > *:last-child
      margin-bottom 0

  &-footer
    margin-bottom $space_lg

  &-tags
    group()
    lowercase()
    fluid_type $font_size_sm $font_size
    grid wrap
    margin-top (-($space_xsm))

    a
      borders()
      link $font_color_darker
      margin-top $space_xsm
      padding $space_xsm
      background-color $bg_color_dark
      line-height $line_height_reset

      &:focus
      &:hover
        borders $border_color_active
        background-color $bg_color_light

      &::before
        content '#'

      &:not(:last-of-type)
        margin-right @margin-top
