/**
 * Main Footer
 */
.footer
  &-main
    group()
    fluid_type $font_footer_min $font_footer_max
    padding $space_lg 0

    {$wrapper_class}
      grid column

  &-links
    grid column center
    line-height $icon_size

    +above($break_footer)
      grid row justify

  &-menu
    margin-bottom $space

    +above($break_footer)
      margin-bottom 0

    ul
      bold()
      uppercase()
      align center
      grid column center

      +above($break_footer)
        align left
        grid row left

    li
      margin-bottom $space_xsm

      +above($break_footer)
        margin-bottom 0

        &:not(:last-child)
          padding-right $space_sm

    a
      block()
      white-space nowrap
      line-height $icon_size
