/**
 * Global Setup
 */
:root
  overflow-y scroll
  font-weight inherit
  font-size $font_size_root
  font-family inherit


body
  border_box()
  grid column
  overflow hidden
  margin 0
  padding 0
  min-width $body_width_min
  min-height 100vh
  border 0
  background-color $bg_color
  color $font_color
  font-weight $font_weight
  font-size-adjust auto
  font-size $font_size
  font-family $font_primary
  line-height $line_height
  cursor default

  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

{$wrapper_class}
  grid row
  margin-right $space_sm
  margin-left @margin-right
  min-width $container_width_min
  max-width $container_width_max

  +above($break_content_sm)
    margin-right $space
    margin-left @margin-right

  +above($break_content_lg)
    margin-right $space_lg
    margin-left @margin-right

  +above($break_margin)
    margin-right auto
    margin-left @margin-right

{$content_class}
  relative()
  transition()
  max-width none

  +above($break_sidebar)
    max-width $container_width_max

  {$sidebar_display } &
    margin-right (-(($sidebar_margin - $space_sm) + $border_width + $space + $sidebar_width + $space))

    +above($break_content_sm)
      margin-right (-(($sidebar_margin - $space) + $border_width + $space + $sidebar_width + $space))

    +above($break_sidebar)
      margin-right $space_lg
      margin-left @margin-right

    {$entry_class}
      opacity 1

    +above($break_margin)
      margin-right auto
      margin-left @margin-right

  {$sidebar_swipe} &
    margin-right 0
    margin-left (-(($sidebar_margin + $border_width + $space + $sidebar_width + $space) - ($space_sm * 2)))

    {$entry_class}
      opacity .25

{$container_class}
  flex 1
  margin-top $space_lg
  margin-bottom @margin-top
