/**
 * Main Header
 */
.header
  &-main
    content_box()
    transition()
    size 100% $header_height
    z-index 1030
    background-color $bg_color

    a
      block()
      size 100%

    .wrapper
      grid justify

    &{$shrink_class}
      height $header_height_sm

  &-logo
    transition()
    size $logo_width $header_height
    margin-right auto
    margin-bottom 0
    margin-left @margin-right
    font-size $font_size

    +above($break_menu)
      margin-right $space
      margin-left 0

    svg
      transition()
      size 100%
      fill $white

  &-menu
    grid right
    flex 1

    +above($break_menu)
      relative()
