.main-navigation
  .wrapper
    content_box()
    relative()
    rounded .5rem
    borders top bottom
    grid justify top
    padding-right $space_sm
    padding-left @padding-right
    height $menu_height
    background-color $color_primary
