/**
 * Reset Browser Styles
 */
*
*::before
*::after
  border_box()
  border 0

*
  margin 0
  padding 0

*::before
*::after
  vertical-align inherit
  text-decoration inherit

html
article
aside
details
figcaption
figure
footer
header
hgroup
main
menu
nav
section
summary
  block()

a
area
button
input
label
select
textarea
[tabindex]
  touch-action manipulation

button
input
optgroup
select
textarea
  margin 0
  color inherit
  font-size inherit

button
select
  resetcase()

button[disabled]
html input[disabled]
  cursor default

button
input
  &::-moz-focus-inner
    padding 0
    border 0

  &:-moz-focusing
    outline $border_width dotted

input
  rounded 0
  line-height normal

input[type='checkbox']
input[type='radio']
  padding 0

input[type='number']::-webkit-inner-spin-button
input[type='number']::-webkit-outer-spin-button
  height auto

input[type='search']
  -webkit-appearance textfield

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
  -webkit-appearance none

fieldset
  borders()
  margin 0
  padding $space_xsm

legend
  padding 0
  border 0

textarea
  overflow auto

optgroup
  strong()

table
  border-spacing 0
  border-collapse collapse

td
th
  padding 0

select
  appearance none

  &::-ms-expand
    hide()

  &::-ms-value
    color inherit

[aria-busy='true']
  cursor progress

[aria-controls]
  cursor pointer

[aria-disabled]
  cursor default

[hidden][aria-hidden='false']
  absolute()
  display inherit
  clip rect(0 0 0 0)

  &:focus
    clip auto

audio
canvas
iframe
img
progress
svg
video
  vertical-align middle

iframe
  width 100%

audio:not([controls])
  hide()
  height 0

[hidden]
template
  hide()

progress
  inline_block()

::-moz-selection
::selection
  background-color color_selection
  text-shadow none
