/**
 * Main Sidebar
 */
.sidebar
  content_box()
  sticky()
  borders left
  fluid_type $font_sidebar_min $font_sidebar_max
  top 0
  margin-left $sidebar_margin
  padding-right $space
  padding-left @padding-right
  width $sidebar_width

  +above($break_sidebar)
    padding-right 0

  section
    border_box()
    padding-top $space
    padding-bottom @padding-top
    overflow-wrap break-word
    word-wrap break-word
    word-break break-word

  h3
    h6()
    margin-bottom $space_sm

  ul
    margin-bottom 0
    padding-left 0
    list-style-type none

  li
    &:not(:last-of-type)
      margin-bottom $space_sm

  a
    link $font_color_dark
    block()

  form
    margin-top 0

  .ad
    content_box()
    height $sidebar_width
    border 0

  .widget_search
    padding 0
    border 0

  &-twitter
  &-facebook
    padding 0

  &-affiliate
    block()
    size $icon_size * 3
    margin-right auto
    margin-left @margin-right

  /*
   * Sidebar Comments
   */
  &-comments
    .comment
      padding 0

      &-avatar
        size $icon_size * 2
        margin-top $space_xsm

      &-body
        margin-left $space_xsm

        p
          margin-bottom 0
          quotes '\201C''\201D''\2018''\2019'

          &:before
            content '\201C'

          &:after
            content '\201D'

          &:first-of-type
            margin-top 0

        cite
          normal()
          small()
          margin-top $space_xsm
          color $font_color_darker

          &:before
            content '- '
