/**
 * Post Summary
 */
.summary
  group()
  grid column
  margin-right ($space_sm / 2)
  margin-bottom $space_lg
  margin-left @margin-right
  width 100%

  +above($break_content_xsm)
    width 'calc(50% - %s)' % $space_sm

  +above($break_content_sm)
    margin-right ($space / 2)
    margin-left @margin-right
    width 'calc(50% - %s)' % $space

  +above($break_content_md)
    width 'calc(33.3333% - %s)' % $space

  +above($break_content_lg)
    width 'calc(50% - %s)' % $space

  +above($break_content_xlg)
    width 'calc(33.3333% - %s)' % $space

  h2
    margin-bottom 0
    line-height $line_height_sm
    fluid_type $summary_title_min $summary_title_max

    &:focus
    &:hover
      a
        color $link_color

    span
      color inherit

  time
    color $font_color_darkest

  &-thumbnail
    overflow hidden
    margin-bottom $space_xsm
    width 100%

  &-body
    grid column left
    flex 1 0 auto

    p
      margin-bottom $space_sm

  &-header
    flex 1 0 auto

  &-more
    button small flat
    align-self flex-start
    margin-top $space_xsm
