/**
 * Breadcrumbs
 */
.breadcrumbs
  bold()
  uppercase()
  fluid_type $font_size_xsm $font_size_sm
  margin-top $header_height + $border_width_xlg
  color $font_color_darker
  font-family $font_alternate
  line-height $line_height_reset

  ul
    grid()
    margin-bottom 0
    padding-top $space_xsm
    padding-bottom @padding-top
    width 100%
    list-style-type none

  li
    margin-bottom 0
    margin-left $space_xsm

    &:before
      margin-right $space_xsm
      content '/'

    &:first-of-type
      margin-left 0

      &:before
        margin-right 0
        content ''

  a
    link $font_color_dark

  .item-current
    hide()

    +above($break_sidebar)
      block()
