/**
 * Comments
 */
.discussion
  margin-bottom $space_lg

  h1
    h3()

/** Comment List */
.comments
  &-list
    margin-bottom $space_lg
    padding-left 0
    list-style none

    .children
      margin-bottom 0
      margin-left $space_lg
      list-style none

  &-pagination
    small()
    uppercase()
    grid justify
    padding $space_sm 0
    list-style none
    line-height $icon_size

  &-prev
  &-next
    flex 1

    &:before
    &:after
      opacity .25

  &-prev
    align left
    grid left
    padding-right $space_sm

  &-next
    align right
    grid right
    padding-left $space_sm

    .comments-prev ~ &
      borders left

/** Single Comment & Respond Form */
.comment
  grid()

  &:not(:last-child)
    margin-bottom $space_lg

  &-avatar
    circle()
    size $avatar_size
    overflow hidden
    margin 0
    border 0

    a
    img
      size 100%

    img
      circle()
      border 0
      background-color $bg_color

      &:focus
      &:hover
      &:active
        border 0

  &-body
    flex 1
    margin-left $space

    h3
      h4()
      margin-top 0
      margin-bottom 0

    p
      margin-bottom $space_sm

      &:first-of-type
        margin-top $space_sm

      &.comment-reply
        margin-bottom 0

        a
          button flat small

  &-meta
    small()
    margin-top $space_xsm
    color $font_color_dark

  &-form
    margin-top $space_sm
    margin-bottom 0

  &-respond
    > *
      &:last-child
        margin-bottom 0

    h2
      h3()

      ~ form
        margin-top 0

      small
        block()

        a
          button small flat
          margin $space_xsm auto $space_xsm 0

    p
      small()
      color $font_color_dark

  &-input
    margin-bottom $space_lg

    .required
      borders left $color_warning

  &-submit
    margin-bottom 0


/** Pingbacks */
.pingbacks
  &-list
    margin-bottom $space_lg
    padding-left 0
    list-style none

.pingback
  small()
  margin-bottom 0
  padding $space_xsm 0

  p
    borders left 4px
    padding-left $space

  a
    border 0

    &:hover
      border 0

  &-meta
    small()
    margin-top $space_xsm
