/**
 * Credits
 */
.credits
  align center
  grid column
  margin-top $space

  &-logo
  &-legal
  &-signature
    margin-right auto
    margin-left auto

  &-logo
    size 20em 4em
    margin-bottom $space

  &-legal
    small()
    flex 1

    p
      margin-bottom $space_xsm

      &:last-of-type
        margin-bottom 0

  &-signature
    transition()
    size 10em 2.5em

  a
  svg
    size 100%

  a
    block()

    &:active
      click_down()

  svg
    fill $grey_dark
