/**
 * Form Elements
 */
form
  margin-bottom $space_lg

fieldset
  border 0

legend
  bold()
  small()
  padding $space_sm

label
  block()
  smaller()
  uppercase()
  size 100%
  margin-bottom $space_sm
  color $font_color_dark

input:not([type='submit'])
input:not([type='checkbox'])
input:not([type='file'])
input:not([type='image'])
input:not([type='radio'])
select
textarea
  input()

input[type='submit']
  button primary

input
  &[type='checkbox']
  &[type='file']
  &[type='image']
  &[type='radio']
    size auto

  &[type='checkbox']
  &[type='radio']
    padding 0
    vertical-align middle
    line-height $line_height_reset

    + label
      display inline-block
      margin-left $space_sm
      vertical-align middle
      line-height $line_height

  &[type='file']
    padding 0
    border 0
    line-height 100%

  &[type='range']
    padding 0
    width 100%
    border 0
    appearance none

    &::-webkit-slider-runnable-track
    &::-moz-range-track
    &::-ms-track
      rounded()
      height 5px
      border 0
      background-color darken($input_bg, 5)

    &::-webkit-slider-thumb
    &::-moz-range-thumb
    &::-ms-thumb
      circle()
      margin-top -5px
      width 16px
      height 16px
      border 0
      background-color $color_primary
      appearance none

  &:focus
    outline 0

textarea
  padding $space_sm
  min-height $input_height * 4
  height auto
  line-height $line_height
  resize vertical

select
  padding-right $space_sm
  padding-left @padding-right
  background-color transparent

  &[multiple]
    height auto

  &::-ms-expand
    hide()

  &::-ms-value
    color inherit

  option
    padding 0 $space_sm

/** Classes */
.form
  &-password
    label
      margin-bottom $space_lg
