/**
 * Helper Classes
 */

/** Call to action buttons */
.button-call
  button primary large
  block()
  margin 0 auto
  max-width 15rem

/** Back to Top Buttons */
.button-top
  circle()
  content_box()
  transition()
  borders $border_width_lg
  size $icon_size
  z-index 50
  margin (-(($icon_size / 2) + $border_width_lg)) auto
  background-color rgba($color_secondary_lighter, .8)

  &.scrolling
    fixed()
    borders $border_width_lg rgba($color_primary_darker, .8)
    bottom $space_xsm
    left 50%
    margin 0
    margin-bottom 0
    margin-left (-(($icon_size / 2) + $border_width_lg))
    background-color $color_primary

  svg
    fill $grey_lightest


/** Display Headers */
.display
  font-weight 200
  font-size $font_size * 4

/** Lead */
p.lead
  font-weight 300
  font-size $font_size_lg
