/**
 * Icons
 */
svg
  transition()

  &.icon
    size $icon_size
    fill $font_color_dark
    vertical-align initial
    line-height $icon_size

    &:focus
    &:hover
      fill $font_color

      &.icon
        &-twitter
          fill $color_twitter

        &-facebook
          fill $color_facebook

        &-google
          fill $color_google

        &-pinterest
          fill $color_pinterest

        &-linkedin
          fill $color_linkedin

        &-whatsapp
          fill $color_whatsapp

    &:active
      click_down()
