/**
 * Media
 */

/** Images */
img
  size 100% auto
  max-width 100%
  border 0

svg:not(:root)
  overflow hidden

figure
  transition()
  overflow hidden
  margin-bottom $space_lg
  border 0
  background-color $bg_color_light

  img
    block()
    borders()
    transition()

  a
    block()

    &:focus
    &:hover
      img
        filter grayscale(60%)

        {$entry_class} &
          transform scale(1.0625)

figcaption
  small()
  padding $space_xsm
  font-family $font_alternate

/** Galleries */
{$entry_class}
  .gallery-size-thumbnail
    grid row wrap
    margin-right (-($space_sm / 2))
    margin-bottom (- $space_sm)
    margin-left @margin-right

    +above($break_content_sm)
      margin-right (-($space / 2))
      margin-bottom (- $space)
      margin-left @margin-right

    figure
      margin-right ($space_sm / 2)
      margin-bottom $space_sm
      margin-left @margin-right
      width 'calc(50% - %s)' % $space_sm

      +above($break_content_xsm)
        width 'calc(33.3333% - %s)' % $space_sm

      +above($break_content_sm)
        margin-right ($space / 2)
        margin-bottom $space
        margin-left @margin-right
        width 'calc(25% - %s)' % $space

      +above($break_content_md)
        width 'calc(20% - %s)' % $space

      +above($break_content_lg)
        width 'calc(33.3333% - %s)' % $space

      +above($break_content_xlg)
        width 'calc(20% - %s)' % $space

    figcaption
      hide()

/** Responsive Video */
.embed-video
.embed-youtube
.embed-vimeo
  borders()
  relative()
  overflow hidden
  padding-bottom 56.25%
  max-width 100%
  height 0

  iframe
  object
  embed
    absolute()
    size 100%
    top 0
    right 0
    left 0

.embed-vimeo
  margin-bottom $space_lg

/** Twitter Embed */
{$entry_class}
  .twitter-tweet
    margin 0 auto
    max-width 520px !important
    width auto !important
