/**
 * Main Menu
 */
nav
  ul
    margin-bottom 0
    padding-left 0

    ul
      padding-left 0

      li
        margin-bottom 0
        list-style-type none

        &:first-child
          margin-top 0

    li
      margin-bottom 0
      list-style none

.main-menu
  size $icon_size 100%

  +above($break_menu)
    size 100%
    flex 1

  nav
    absolute()
    hide()
    top 100%
    right 0
    left 0
    z-index 9999
    margin-top $space_xsm
    height 100vh

    +above($break_menu)
      block()
      static()
      margin-top 0
      height auto

  ul
    list()
    rounded()
    uppercase()
    shadow()
    background-color $color_primary

    +above($break_menu)
      list inline
      shadow none
      background-color transparent

    li
      content_box()
      transition()
      margin-right 0
      padding-right $space
      padding-left @padding-right
      line-height $menu_height

      +above($break_menu)
        borders top bottom transparent $border_width_lg
        margin-right $space
        padding-right 0
        padding-left @padding-right
        line-height $menu_height - ($border_width_lg * 2)

      &:focus
      &:hover
        background-color $color_primary_dark

        +above($break_menu)
          background-color transparent
          borders top bottom $color_primary_dark $border_width_lg

  a
    block()
    color $grey_lightest

    &:focus
    &:hover
    &:active
      color $white

  .toggle-menu
    absolute()
    block()
    top 50%
    margin (-($icon_size / 2)) 0 0

    &:focus
    &:hover
      svg
        fill $white

    +above($break_menu)
      hide()

    svg
      fill $grey_lightest
