/**
 * Post Meta
 */
.meta
  bold()
  uppercase()
  fluid_type $font_size_xsm $font_size_sm
  grid column
  margin-top $space_xsm
  color $font_color_darkest
  font-family $font_alternate

  +above($break_content_xsm)
    grid row

  div
    block()
    margin-top $space_xsm

    &:first-child
      margin-top 0

    +above($break_content_xsm)
      margin-top 0
      margin-left $space_xsm

      &:before
        margin-right $space_xsm
        content '/'

      &:first-child
        margin-left 0

        &:before
          margin-right 0
          content ''

  a
    link $font_color_dark

  time
    color $font_color_dark

  {$summary_class} &
    margin-top $space_xsm
    color $font_color_dark

  {$comments_class} &
    color $font_color_darkest
