/**
 * Pagination
 */
.pagination
  grid()
  uppercase()
  align center
  margin-bottom $space_lg
  font-size $font_size_sm
  line-height $icon_size

  svg
    fill $link_color

  a
    block()
    link $font_color_light

.posts
  &-prev
  &-next
    width 100%
    height $icon_size
    font-size $font_size_sm


  &-prev
    align left
    grid left

    a
      padding-right $space_sm

  &-next
    align right
    grid right

    a
      padding-left $space_sm

    .posts-prev ~ &
      borders left

.post
  &-page
    bold()
    border_box()
    align center
    borders left
    size ($icon_size * 2) $icon_size
    line-height $icon_size

    a
      regular()
      link $link_color

    &:last-child
      borders right

    &-numbers
      grid()

    &-prev
    &-next
      flex 1
      color $font_color_lighter

    &-prev
      align left
      grid left

      a
        padding-right $space_sm

    &-next
      align right
      grid right

      a
        padding-left $space_sm
