/**
 * Search Form
 */
.search
  &-form
    relative()
    size 100% auto
    margin 0 auto $space_lg

  &-submit
    absolute()
    block()
    size $icon_size
    top 50%
    right $space_xsm
    margin-top (-($icon_size / 2))
    background-color transparent

    &:focus
    &:hover
    &:active
      background-color transparent

      svg
        fill $color_primary

    svg
      vertical-align top
      fill $grey

.main-search
  relative()
  size 100%

  .search
    &-form
      absolute()
      hide()
      right $icon_size + $space_xsm
      left $space_xsm
      margin-bottom 0
      width auto
      height $menu_height

      +above($break_menu)
        left $space

    &-field
      rounded 0
      height 100%
      background-color $white

  .toggle-search
    absolute()
    block()
    top 50%
    right 0
    margin (-($icon_size / 2)) 0 0
    vertical-align top

    &:focus
    &:hover
      svg
        fill $white

    svg
      size 100%
      fill $grey_lightest
