/**
 * Social Links
 */
.social
  &-aside
    borders bottom
    fluid_type $font_size_xsm $font_size_sm
    grid row justify
    margin-bottom $space_lg
    padding-top $space_xsm
    padding-bottom @padding-top
    font-family $font_alternate
    line-height $line_height

    a
      block()

  &-links
  &-share
    svg
      size 100%

  &-links
    grid()
    transition()
    margin-bottom 0

    li
      size $icon_size
      margin-bottom 0
      list-style-type none

      &:not(:first-of-type)
        margin-left $space_xsm

    a
      block()
      size 100%

    {$header_class} &
      $margin = (($header_height - $icon_size) / 2)
      hide()
      margin $margin 0 $margin $space_xsm

      +above($break_header_links)
        display flex

    {$header_class}{$shrink_class} &
      hide()

    {$footer_class} &
      grid center

      +above($break_footer)
        grid right

  &-share
    grid right
    margin-bottom 0
    margin-left auto
    padding-left 0
    list-style-type none

    li
      size $font_size_lg
      margin-bottom 0

      &:not(:first-of-type)
        margin-left $space_xsm

    a
      size 100%

    svg
      fill $font_color_darker

  &-comment
    bold()
    uppercase()
    color $color_primary

    a
      link $font_color_darker
