/**
 * Toggle Buttons
 */

/*
input[type='checkbox']
  + .toggle
    &-menu
      +above($break_menu)
        hide()

    &-search
      block()

    &-sidebar
      hide()
      z-index 10001

      {$sidebar_display} &
        block()

        +above($break_sidebar)
          hide()
          width 0

      &.bottom-stop
        hide()
*/
.toggle
  &-checkbox
    hide()

  &-label
    transition()
    size $icon_size
    cursor pointer

    {$header_class}{$shrink_class} &
      margin-top (($header_height_sm - $icon_size) / 2)
      margin-bottom @margin-top

    {$header_class} &
      margin-top (($header_height - $icon_size) / 2)
      margin-bottom @margin-top
      margin-left $space_xsm

      &:first-of-type
        margin-left 0

    .icon-close
      hide()
      fill $font_color_darkest

  &-sidebar
    fixed()
    right 0
    bottom $space_xsm
    margin-left 0
    width $space_sm

    svg
      margin-left (-(($icon_size - $space_sm) / 2))

      {$sidebar_swipe} &
        transform rotate(180deg)

#toggle
  &-menu:checked ~
    .toggle-menu
      .icon-close
        block()

      .icon-menu
        hide()

    nav
      block()

      +above($break_menu)
        size auto

  &-search:checked ~
    .toggle-search
      .icon-close
        block()

      .icon-search
        hide()

    form
      block()

{$sidebar_display}
  #toggle-sidebar:checked ~
    label
      svg
        transform rotate(180deg)

    {$content_class}
      margin-right 0
      margin-left (-(($sidebar_margin + $border_width + $space + $sidebar_width + $space) - ($space_sm * 2)))

      {$entry_class}
        opacity .25

    +above($break_sidebar)
      label
        svg
          transform rotate(0deg)

      {$content_class}
        margin-right $space_lg
        margin-left @margin-right

        {$entry_class}
          opacity 1

    +above($break_margin)
      {$content_class}
        margin-right auto
        margin-left @margin-right
