/**
 * WordPress Classes
 */
.alignnone
  margin-right 0
  margin-left @margin-right
  max-width 100%
  height auto

.aligncenter
  block()
  margin $space auto
  height auto

.alignleft
.alignright
  margin-bottom $space_lg
  height auto

.alignleft
  float left
  margin-right $space_lg

.alignright
  float right
  margin-left $space

.wp-caption
  margin-bottom $space_lg
  max-width 100%

  img[class*='wp-image-']
    block()
    margin 0

.wp-caption-text
  padding $space_sm

.screen-reader-text
  hide()
  word-wrap normal
